apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: digit-link-updater
  namespace: argocd
spec:
  namespace: argocd
  applicationRefs:
    - namePattern: digit-link
      images:
        - alias: app
          imageName: ghcr.io/niekvdm/digit-link
