apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: digit-link-updater
  namespace: argocd
spec:
  namespace: argocd

  applicationRefs:
    - namePattern: digit-link

      commonUpdateSettings:
        updateStrategy: semver
        # Only consider strict SemVer tags prefixed with v
        allowTags: "regexp:^v[0-9]+\\.[0-9]+\\.[0-9]+$"

      images:
        - alias: app
          imageName: ghcr.io/niekvdm/digit-link
          manifestTargets:
            kustomize:
              # This is the image "name" as it appears in kustomization.yaml images[].name
              name: ghcr.io/niekvdm/digit-link

      writeBackConfig:
        method: git
        gitConfig:
          repository: https://github.com/niekvdm/digit-link.git
          branch: main
          # Tell it to update kustomization.yaml in the app path
          writeBackTarget: "kustomize"
