apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: digit-link-updater
  namespace: argocd
spec:
  namespace: argocd
  applicationRefs:
    - namePattern: digit-link
      commonUpdateSettings:
        updateStrategy: semver
        allowTags: "regexp:^v[0-9]+\\.[0-9]+\\.[0-9]+$"
      images:
        - alias: app
          imageName: ghcr.io/niekvdm/digit-link
          manifestTargets:
            kustomize:
              name: ghcr.io/niekvdm/digit-link
      writeBackConfig:
        method: git
        gitConfig:
          repository: https://github.com/niekvdm/digit-link.git
          branch: master
          writeBackTarget: kustomization
